@model IEnumerable<Application.Data.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.RatingID)
            </th> *@
            <th>
                User
            </th>
            <th>
                Product
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
            @Html.DisplayFor(modelItem => item.RatingID)
            </td> *@
                <td>
                    @item.User?.Username
                </td>
                <td>
                    @item.Product?.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRated)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.RatingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RatingID }) |
                    <a href="/Ratings/delete?ID=@item.RatingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
