@using Application.Data.Enums
@model List<Application.Data.Models.Order>
@{
    var errorMessage = ViewBag.ErrorMessage as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@errorMessage</p>
                </div>
                <div class="modal-footer">
                    <a href="/Account/Login" class="btn btn-primary">Đăng nhập</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        var errorMessage = "@errorMessage";
        if (errorMessage) {
            $('#errorModal').modal('show');
        }
    });
</script>

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item active">Đơn hàng</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <div>
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr class="align-center">
                                    <th class="text-left">Mã đơn</th>
                                    <th class="text-center">Ngày đặt đơn</th>
                                    <th class="text-center">Phương thức thanh toán</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-right">Tổng giá</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Order in Model)
                                {
                                    <tr class="align-center">
                                        <td class="text-left">@Order.OrderNumber</td>
                                        <td class="text-center">@Order.OrderDate.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss")</td>
                                        <td class="text-center">
                                            @switch (Order.PaymentMethodID.GetValueOrDefault().ToString())
                                            {
                                                case DefaultValues.CoDGUID:
                                                    <text>Ship COD</text>
                                                    break;
                                                case DefaultValues.VNPayGUID:
                                                    <text>VNPay</text>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </td>
                                        <td class="text-center">
                                            @switch ((OrderStatus)Order.Status)
                                            {
                                                case OrderStatus.Canceled:
                                                    <p style="color: red;">Bị hủy</p>
                                                    break;
                                                case OrderStatus.Refunding:
                                                    <p style="color: orange;">Yêu cầu hoàn trả</p>
                                                    break;
                                                case OrderStatus.RefundProcessed:
                                                    <p style="color: teal;">Chấp nhận hoàn trả</p>
                                                    break;
                                                case OrderStatus.RefundDelivered:
                                                    <p style="color: darkblue;">Đơn vị đang đến nhận hàng hoàn trả</p>
                                                    break;
                                                case OrderStatus.Refunded:
                                                    <p style="color: green;">Đã hoàn trả</p>
                                                    break;
                                                case OrderStatus.Created:
                                                    <p style="color: gray;">Chờ xác nhận</p>
                                                    break;
                                                case OrderStatus.Processed:
                                                    <p style="color: blue;">Đã xác nhận đơn</p>
                                                    break;
                                                case OrderStatus.Delivered:
                                                    <p style="color: purple;">Đang vận chuyển</p>
                                                    break;
                                                case OrderStatus.Arrived:
                                                    <p style="color: darkgreen;">Đã đến nơi</p>
                                                    break;
                                                case OrderStatus.Received:
                                                case OrderStatus.ReceivedAgain:
                                                    <p style="color: limegreen;">Đã nhận hàng</p>
                                                    break;
                                                case OrderStatus.ReceivedCompleted:
                                                    <p style="color: gold;">Đã nhận hàng thành công</p>
                                                    break;
                                                case OrderStatus.DeliveryFailure:
                                                    <p style="color: darkred;">Chưa giao thành công</p>
                                                    break;
                                                case OrderStatus.DeliveryIsDead:
                                                    <p style="color: crimson;">Giao hàng thất bại</p>
                                                    break;
                                                case OrderStatus.ReceivedRefundFail:
                                                    <p style="color: magenta;">Hoàn trả thất bại</p>
                                                    break;
                                                default:
                                                    <p style="color: black;">N/A</p>
                                                    break;
                                            }

                                        </td>
                                        <td class="text-right">@Order.GrandTotal.GetValueOrDefault().ToString("#,##0")</td>
                                        <td><a class="btn btn-secondary" asp-action="Details" asp-route-ID="@Order.OrderID">Chi tiết</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h1 class="text-center">Hiện không có đơn hàng.</h1>
                        <br />
                        <br />
                        <br />
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    .breadcrumb {
        background-color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .breadcrumb a {
            text-decoration: none;
        }

            .breadcrumb a:hover {
                text-decoration: underline;
            }

    .breadcrumb-item.active {
        color: #6c757d;
    }

    .table {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-collapse: collapse;
    }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
            padding: 15px;
            border: 1px solid #ddd;
        }


        .table th {
            font-weight: bold;
            background-color: #FFD333;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa;
    }

    .table-striped tbody tr:hover {
        background-color: #f1f1f1;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .modal-content {
        border-radius: 10px;
        overflow: hidden;
    }

    .modal-header {
        color: #fff;
        border-bottom: none;
        padding: 15px 20px;
    }

    .modal-body {
        padding: 20px;
        font-size: 16px;
    }

    .modal-footer {
        background-color: #f8f9fa;
        padding: 15px;
        text-align: right;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    td p {
        margin: 0;
        padding: 0;
    }


</style>