@using Application.Data.Enums
@model Application.Data.DTOs.OrderDto
@{
    ViewData["Title"] = "Checkout";
    var user = ViewBag.DefaultUser as Application.Data.Models.User ?? new();
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-controller="MyOrders" asp-action="Index">Đơn hàng</a></li>
                <li class="breadcrumb-item"><a asp-controller="MyOrders" asp-action="Details" asp-route-ID="@Context.GetRouteValue("ID")">Chi tiết</a></li>
                <li class="breadcrumb-item active">Hoàn trả</li>
            </ul>
        </div>
    </div>
</div>

<form class="p-30" asp-action="RequestRefund">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h1 class="text-center">Yêu cầu đổi trả</h1>
            <p class="text-danger">Vì sao bạn muốn đổi trả (các) mặt hàng này?</p>
            <hr />
            <div class="custom-control custom-radio">
                <input type="radio" id="Generic" value="@Reasoning.Generic" class="custom-control-input">
                <label class="custom-control-label" for="GenericReasoning">Không thích mặt hàng này</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="UsedProduct" value="@Reasoning.UsedProduct" class="custom-control-input">
                <label class="custom-control-label" for="UsedProduct">Mặt hàng đã qua sử dụng</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="BrokenProduct" value="@Reasoning.BrokenProduct" class="custom-control-input">
                <label class="custom-control-label" for="BrokenProduct">Mặt hàng bị hỏng hóc</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="FakeProduct" value="@Reasoning.FakeProduct" class="custom-control-input">
                <label class="custom-control-label" for="FakeProduct">Hàng giả/hàng nhái</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="Other" value="@Reasoning.Other" class="custom-control-input">
                <label class="custom-control-label" for="Other">Khác...</label>
            </div>
            <div class="dropdown">
                <button class="btn btn-block btn-primary font-weight-bold py-3" type="button" data-toggle="dropdown" aria-expanded="false">Yêu cầu trả hàng</button>
                <div class="dropdown-menu text-center mt-2 mb-2" style="width: 400px">
                    <h3>Xác nhận</h3>
                    <p>
                        <b class="text-danger">Thao tác này là vĩnh viễn và không thể khôi phục lại.</b><br />
                        Hãy soát lại những mặt hàng bạn cần trả trước khi thực hiện đổi trả.
                    </p>
                    <button class="btn btn-success" style="width: 120px">Xác nhận</button>
                    <a class="btn btn-danger" style="width: 120px" href="#">Hủy</a>
                </div>
            </div>
        </div>
    </div>
</form>