@model IEnumerable<Application.Data.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().Image.ImageFileName)</th> 
            <th>@Html.DisplayNameFor(model => model.First().CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.First().UpdatedAt)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="https://localhost:7187/Images/@(item.Image.ImageFileName)" class="img-thumbnail" style="width: 150px; height:150px" alt="Thumbnail epic">
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </td>
                <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.UpdatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </tbody>

</table>

