@model Application.Data.Models.Role

@{
    ViewData["Title"] = "Role Details";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Role Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Role Information</h4>
            <hr />
            <dl class="row">
                <!-- RoleID -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RoleID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RoleID)
                </dd>

                <!-- RoleCode -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RoleCode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RoleCode)
                </dd>

                <!-- RoleName -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.RoleName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.RoleName)
                </dd>
            </dl>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="text-center mt-4">
        <a asp-action="Update" class="btn btn-warning btn-lg">Update</a> |
        <a asp-action="Index" class="btn btn-secondary btn-lg">Back to List</a>
    </div>
</div>
