@model IEnumerable<Application.Data.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Role List</h1>

@* <p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p> *@

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Số thứ tự</th>
            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>1</td>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                @*
                    <td>
                    <!-- Update Button -->
                    @* @Html.ActionLink("Update", "Update", new { id = item.RoleID }, new { @class = "btn btn-warning btn-sm" })
                    <!-- Details Button -->
                    @Html.ActionLink("Details", "Details", new { id = item.RoleID }, new { @class = "btn btn-info btn-sm" })
                    <!-- Delete Button with modal trigger -->
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" data-id="@item.RoleID">Delete</button>
                </td>
                *@
            </tr>
        }
    </tbody>
</table>