@{
    var Top8Products = ViewBag.Top8Products as List<Application.Data.Models.ProductDetail>;
}

<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://p-vn.ipricegroup.com/trends-article/danh-cho-fan-giay-the-thao-10-dieu-it-ai-biet-ve-giay-adidas-va-lich-su-di-den-su-thanh-cong.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giày thể thao Adidas</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Những mặt hàng giày thể thao giúp công cuộc thể dục thể thao khỏe mạnh và thoải mái hơn.</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="/Product/Index">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://giaydino.com/wp-content/uploads/2023/03/Giay-Superstar-Adifom-Trang.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giày trẻ em</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Những mặt hàng giày trẻ em giúp con của bạn hãnh diện với diện mạo mới của mình mỗi ngày.</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="/Product/Index">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://htsport.vn/wp-content/uploads/2020/04/10-doi-giay-da-bong-dat-tien-nhat-anh-bia.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Giày bóng đá</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Những mặt hàng giày bóng đá giúp trải nghiệm bóng đá của bạn an toàn và vững chắc hơn.</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="/Product/Index">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="https://bizweb.dktcdn.net/100/347/092/files/adidas-ra-mat-giay-nemeziz-19-the-he-moi.jpg?v=1563692544955" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 10%</h6>
                    <h3 class="text-white mb-3">Giá cực sốc</h3>
                    <a href="/Product/Index" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                <img class="img-fluid" src="https://img.pikbest.com/wp/202345/men-s-running-shoes-hiking-men-wearing-red-adidas-walking-on-stump-stock-fotografie_9597516.jpg!w700wp" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 10%</h6>
                    <h3 class="text-white mb-3">Voucher giảm giá</h3>
                    <a href="/Vouchers/Index" class="btn btn-primary">Truy cập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Miễn phí vẫn chuyển</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Đổi trả trong 7 ngày</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Categories Start -->
<div class="container-fluid pt-5">
    @* <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Danh mục</span></h2> *@
    @* <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-1.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-2.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-2.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-1.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-2.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-1.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-4.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item img-zoom d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="img-fluid" src="img/cat-3.jpg" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>Category Name</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
    </div> *@
</div>
<!-- Categories End -->
<!-- Products Start -->
@* <div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm Nổi bật</span></h2>
    <div class="row px-xl-5">
    </div>
</div> *@
<!-- Products End -->
<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://bizweb.dktcdn.net/100/347/092/files/adidas-ra-mat-giay-nemeziz-19-the-he-moi.jpg?v=1563692544955" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 10%</h6>
                    <h3 class="text-white mb-3">Giá cực sốc</h3>
                    <a href="/Product/Index" class="btn btn-primary">Mua ngay</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="https://img.pikbest.com/wp/202345/men-s-running-shoes-hiking-men-wearing-red-adidas-walking-on-stump-stock-fotografie_9597516.jpg!w700wp" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 10%</h6>
                    <h3 class="text-white mb-3">Voucher giảm giá</h3>
                    <a href="/Vouchers/Index" class="btn btn-primary">Truy cập</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản phẩm thêm gần đây</span></h2>
    <div class="row px-xl-5">
        @if (Top8Products != null || Top8Products!.Count() > 0)
        {
            @foreach (var Item in Top8Products!.Where(x => x.Status == 1))
            {
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" style="height: 20em;" src="@($"https://localhost:7187/Images/{Item.Product?.Image?.ImageFileName}")" alt="">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="@Url.Action("Details", "Product", new { id = Item.ProductDetailID })">
                                    <i class="fa fa-search"></i>
                                </a>

                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="">@Item.Product?.Name</a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5><small>đ</small>@Item.Product?.Price</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(@Item.Quantity)</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/1088px-Adidas_Logo.svg.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-ljz5y9kulg389e" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://vudigital.co/wp-content/uploads/2021/10/logo-adidas-lich-su-hinh-thanh-va-y-nghia-bieu-tuong-tu-1920-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://yeuchaybo.com/wp-content/uploads/2014/09/adidas-logo.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://vudigital.co/wp-content/uploads/2021/10/logo-adidas-lich-su-hinh-thanh-va-y-nghia-bieu-tuong-tu-1920-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://vudigital.co/wp-content/uploads/2021/10/logo-adidas-lich-su-hinh-thanh-va-y-nghia-bieu-tuong-tu-1920-12.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://inuvdp.com/wp-content/uploads/2022/10/logo-adidas-03.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img class="vendor-img" src="https://product.hstatic.net/200000174405/product/bd5aead8c7458578d70c00eeec5f17df_a66f23c460684ccba2ab65c8938b8bf6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .vendor-img {
        width: 100px; /* Đặt chiều rộng cố định */
        height: 100px; /* Đặt chiều cao cố định */
        object-fit: contain; /* Giữ tỷ lệ hình ảnh */
        margin: auto; /* Căn giữa hình ảnh */
        display: block;
    }

</style>
<!-- Vendor End -->
