@model Application.Data.Models.ProductWarranty

@{
    ViewData["Title"] = "Chi Tiết";
}

<h1 class="text-center">Chi Tiết Bảo Hành Sản Phẩm</h1>

<div class="container mt-4">
    <h4 class="text-center mb-4">Thông Tin Chi Tiết Bảo Hành</h4>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <!-- Mã Bảo Hành -->
                <dt class="col-sm-3 font-weight-bold">
                    Mã bảo hành

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyID)
                </dd>

                <!-- Mã Sản Phẩm -->
                <dt class="col-sm-3 font-weight-bold">
                    Mã sản phẩm

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductID)
                </dd>

                <!-- Thời Gian Bảo Hành -->
                <dt class="col-sm-3 font-weight-bold">
                    Thời hạn bảo hành

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyPeriod)
                </dd>

                <!-- Điều Kiện Bảo Hành -->
                <dt class="col-sm-3 font-weight-bold">
                    Điều kiện bảo hành

                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyConditions)
                </dd>

                <!-- Ngày Tạo -->
                <dt class="col-sm-3 font-weight-bold">
                    Ngày Tạo
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <!-- Ngày Cập Nhật -->
                <dt class="col-sm-3 font-weight-bold">
                    Ngày Cập Nhật
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <!-- Nút Cập Nhật và Quay Lại Danh Sách -->
@*         <a asp-action="Update" class="btn btn-warning btn-lg">Cập Nhật</a> *@
        <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Quay Lại Danh Sách</a>
    </div>
</div>
