@model Application.Data.Models.ProductWarranty

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Product Warranty Details</h1>

<div class="container mt-4">
    <h4 class="text-center mb-4">Details for Product Warranty</h4>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <!-- Warranty ID -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.WarrantyID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyID)
                </dd>

                <!-- Product ID -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ProductID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductID)
                </dd>

                <!-- Warranty Period -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.WarrantyPeriod)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyPeriod)
                </dd>

                <!-- Warranty Conditions -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.WarrantyConditions)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.WarrantyConditions)
                </dd>

                <!-- Created At -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <!-- Updated At -->
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <!-- Update and Back to List buttons -->
        <a asp-action="Update" class="btn btn-warning btn-lg">Update</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Back to List</a>
    </div>
</div>
