@model Application.Data.Models.Voucher

@{
    ViewData["Title"] = "Mô tả Voucher";
}

<h1>Mô tả Voucher</h1>

<dl class="row">
    <dt class="col-md-3">ID</dt>
    <dd class="col-md-9">
        <i class="font-monospace-cascadia">@Model.VoucherID</i>
    </dd>
    <dt class="col-md-3">Mã Voucher</dt>
    <dd class="col-md-9">
        <i class="font-monospace-cascadia">@Model.VoucherCode</i><br />
    </dd>
    <dt class="col-md-3">Cho danh mục</dt>
    <dd class="col-md-9">@(Model.Category?.CategoryName ?? "None")<br />
        <i style="font-size: x-small" class="font-monospace-cascadia">(@(Model.CategoryID == null ? "None" : Model.CategoryID))</i>
    </dd>
    <dt class="col-md-3">Cho sản phẩm</dt>
    <dd class="col-md-9">
            @(Model.Product?.Name ?? "None")<br />
        <i style="font-size: x-small" class="font-monospace-cascadia">(@(Model.ProductID == null ? "None" : Model.ProductID))</i>
    </dd>
    <dt class="col-md-3">Còn lại</dt>
    <dd class="col-md-9">
        @Model.UsesLeft.ToString("#,##0")<br />
    </dd>
    <dt class="col-md-3">Giảm giá</dt>
    <dd class="col-md-9">
        @(Model.DiscountPercent <= 0 ? "No discount percent" : $"{Model.DiscountPercent.ToString("#.##")}% discount"),
        @(Model.DiscountPrice <= 0 ? "no price discount" : $"-{Model.DiscountPrice:#,##0}")
    </dd>
    <dt class="col-md-3">Mô tả</dt>
    <dd class="col-md-9">
            @Model.Description<br />
    </dd>
    <dt class="col-md-3">Trạng thái</dt>
    <dd class="col-md-9">
            @Model.Status<br />
    </dd>
    <dt class="col-md-3">Thời điểm tạo</dt>
    <dd class="col-md-9">
        @Model.CreatedAt.ToLocalTime().ToString("d/M/yyyy H:mm:ss")<br />
    </dd>
    <dt class="col-md-3">Cập nhật lần cuối</dt>
    <dd class="col-md-9">
        @Model.LastUpdatedOn.ToLocalTime().ToString("d/M/yyyy H:mm:ss")<br />
    </dd>
</dl>