@model List<Application.Data.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Image File Name</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Place of Origin</th>
            <th>Type</th>
            <th>Warranty Period</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
                <td>@item.Product?.Name</td> <!-- Lấy Product.Name -->
                <td>@item.Image?.ImageFileName</td> <!-- Lấy Image.ImageFileName -->
                <td>@item.Material</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@item.Brand</td>
                <td>@item.PlaceOfOrigin</td>
                <td>@item.Type</td>
                <td>@item.WarrantyPeriod.ToShortDateString()</td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductDetailID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductDetailID })
            </td>
        </tr>
}
    </tbody>
</table>

