@using System.Text.RegularExpressions
@using Application.Data.Enums
@model Application.Data.Models.Order

@{
    ViewData["Title"] = "Thông tin đơn hàng";

    var Infos = ViewBag.AlwaysTired as Application.Data.Models.Order ?? new();
    var Items = ViewBag.Grrrrrrrrrr as List<Application.Data.Models.OrderDetail> ?? [];
}

<h1>Thông tin đơn hàng</h1>

<div class="row">
    <dl class="col-md-12">
        <dt class="col-md-4">Mã số đơn</dt>
        <dd class="col-md-8">
            <p>@Infos?.OrderNumber
            <br />
                <i class="font-monospace-cascadia" style="font-size: small">@Infos?.OrderID</i>
            </p>
        </dd>
        <dt class="col-md-4">Tên khách hàng</dt>
        <dd class="col-md-8">
            <p>@Infos?.LastName @Infos?.FirstName
                <br /><i class="font-monospace-cascadia" style="font-size:small">(@Infos?.UserID)</i>
            </p>
        </dd>
        <dt class="col-md-4">Phương thức thanh toán</dt>
        <dd class="col-md-8">
            <p>@Infos?.PaymentMethod?.MethodName
            <br />
                <i class="font-monospace-cascadia" style="font-size:small">(@Infos?.PaymentMethodID)</i>
            </p>
        </dd>
        <dt class="col-md-4">Ngày đặt đơn</dt>
        <dd class="col-md-8">
            <p>@Infos?.OrderDate.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss")</p>
        </dd>
        <dt class="col-md-4">Tổng tiền</dt>
        <dd class="col-md-8">
            <p>@Infos?.GrandTotal.GetValueOrDefault().ToString("#,##0")</p>
        </dd>
        <dt class="col-md-4">Địa chỉ</dt>
        <dd class="col-md-8">
            <p>
            @{if (Infos?.Email == null)
                {
                    <i>Không có địa chỉ Email</i>
                }
                else
                {
                    @Infos?.Email
                }
            }
            <br />
            @Infos?.PhoneNumber
            <br />
            @Infos?.ShippingAddress</p>
        </dd>
        <dt class="col-md-4">Trạng thái</dt>
        <dd class="col-md-8">
            @if (Infos != null)
            {
                <p>
                @switch ((OrderStatus)Infos.Status)
                {
                    case OrderStatus.Canceled:
                    <text>Bị hủy</text>
                        break;
                    case OrderStatus.Refunding:
                    <text>Yêu cầu hoàn trả</text>
                        break;
                    case OrderStatus.RefundProcessed:
                    <text>Chấp nhận hoàn trả</text>
                        break;
                    case OrderStatus.RefundDelivered:
                    <text>Đơn vị đang đến nhận hàng hoàn trả</text>
                        break;
                    case OrderStatus.RefundReceived:
                    <text>Đơn vị đã nhận hàng trả</text>
                        break;
                    case OrderStatus.Refunded:
                    <text>Đã hoàn trả</text>
                        break;
                    case OrderStatus.Created:
                    <text>Chờ xác nhận</text>
                        break;
                    case OrderStatus.Processed:
                    <text>Đã xác nhận đơn</text>
                        break;
                    case OrderStatus.Delivered:
                    <text>Đang vận chuyển</text>
                        break;
                    case OrderStatus.Arrived:
                    <text>Đã đến nơi</text>
                        break;
                    case OrderStatus.Received:
                    case OrderStatus.ReceivedAgain:
                    <text>Đã nhận hàng</text>
                        break;
                    case OrderStatus.ReceivedCompleted:
                    <text>Đã nhận hàng thành công</text>
                    break;
                    case OrderStatus.ReceivedRefundFail:
                    <text>Khách đã nhận hàng, hoàn trả thất bại</text>
                        break;
                    default:
                    <text>N/A</text>
                        break;
                }
                @(Infos.HasPaid ? Html.Raw("<br />Đã thanh toán") : "")
                </p>
            }
        </dd>

        <dt class="col-md-4">Thời gian nhận</dt>
        <dd class="col-md-8">@(Infos?.AcceptEnd == null ? "N/A" : Infos?.AcceptEnd)</dd>

        @if (Infos?.Status == (byte)OrderStatus.Arrived)
        {
            <dt class="col-md-4">Thời gian còn lại</dt>
            <dd class="col-md-8">
                @{
                    var Span = (Infos?.AcceptEnd.GetValueOrDefault() ?? DateTime.MinValue) - DateTime.UtcNow;
                    Console.WriteLine(Span.TotalSeconds);
                    if (Span > TimeSpan.Zero)
                    {
                        if (Span.TotalDays > 0)
                        {
                            <text>@((int)Span.TotalDays) ngày @((int)Span.TotalHours % 24) giờ</text>
                        }
                        else if (Span.TotalHours > 0)
                        {
                            <text>@((int)Span.TotalHours) giờ @((int)Span.TotalMinutes % 60) phút</text>
                        }
                        else if (Span.TotalMinutes > 0)
                        {
                            <text>@((int)Span.TotalMinutes) phút @((int)Span.TotalSeconds % 60) giây</text>
                        }
                        else
                        {
                            <text>@((int)Span.TotalSeconds) giây</text>
                        }
                    }
                    else
                    {
                        <text>Đã nhận</text>
                    }
                }
            </dd>
        }

        <dt class="col-md-4">Còn hoàn trả được</dt>
        <dd class="col-md-8">@(Infos?.RefundEnd == null ? "N/A" : (DateTime.UtcNow > Infos?.RefundEnd ? "Không" : "Có"))</dd>
        @if (Infos?.Status == (byte)OrderStatus.Received || Infos?.Status == (byte)OrderStatus.ReceivedAgain)
        {
            <dt class="col-md-4">Thời gian còn lại</dt>
            <dd class="col-md-8">
                @{
                    var Span = (Infos?.RefundEnd.GetValueOrDefault() ?? DateTime.MinValue) - DateTime.UtcNow;
                    Console.WriteLine(Span.TotalSeconds);
                    if (Span > TimeSpan.Zero)
                    {
                        if (Span.TotalDays > 0)
                        {
                            <text>@((int)Span.TotalDays) ngày @((int)Span.TotalHours % 24) giờ</text>
                        }
                        else if (Span.TotalHours > 0)
                        {
                            <text>@((int)Span.TotalHours) giờ @((int)Span.TotalMinutes % 60) phút</text>
                        }
                        else if (Span.TotalMinutes > 0)
                        {
                            <text>@((int)Span.TotalMinutes) phút @((int)Span.TotalSeconds % 60) giây</text>
                        }
                        else
                        {
                            <text>@((int)Span.TotalSeconds) giây</text>
                        }
                    }
                    else
                    {
                        <text>Hết hạn trả</text>
                    }
                }
            </dd>
        }
    </dl>
</div>
<hr />

<h1>Các mặt hàng đã mua</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Ảnh sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Kích cỡ</th>
                    <th>Màu</th>
                    <th>Voucher</th>
                    <th>Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Items)
                {
                    <tr>
                        <td>
                            @if (Item.ProductDetail?.Product?.Image != null)
                            {
                                <img style="width: 100px; height: 100px" src="https://localhost:7187/Images/@(Item.ProductDetail?.Product?.Image?.ImageFileName)" class="img-thumbnail" alt="Ảnh hàng" />
                            }
                            else
                            {
                                <span>Chưa có ảnh</span>
                            }
                        </td>
                        <td>@Item.ProductDetail?.Product?.Name</td>
                        <td>@Item.Quantity</td>
                        <td>@Item.ProductDetail?.Size?.Name</td>
                        <td>@Item.ProductDetail?.Color?.ColorName</td>
                        <td><b>@Item.SumTotalPrice.GetValueOrDefault().ToString("#,##0")</b></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <dl class="col-md-4" style="font-size: x-large; text-align: right;">
        <dt>Tổng giá hàng</dt>
        <dd>
            @(Infos?.GrandTotal.GetValueOrDefault().ToString("#,##0"))
        </dd>
        <dt>Phí ship</dt>
        <dd>
            @((Items.Count() > 1 ? ((Items.Count() - 1) * 1000).ToString("#,##0") : "Miễn phí"))
        </dd>
        <dt>Tổng tiền</dt>
        <dd>
            @((Infos?.GrandTotal + (Items.Count() - 1) * 1000).GetValueOrDefault().ToString("#,##0"))
        </dd>
        <dt></dt>
        <dd><a asp-action="Invoice" asp-route-ID="@Infos?.OrderID" class="btn btn-primary">In hóa đơn</a></dd>
    </dl>
</div>
