@model List<Application.Data.Models.Order>;
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}

<h1>Danh sách đơn hàng</h1>
@if (Model.Count() > 0)
{
    <p>Tổng số đơn hàng: @Model.Count()</p>
}

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <thead class="bg-primary">
            <tr>
                <th>ID đơn hàng</th>
                <th>Tên người dùng</th>
                <th>Ngày đặt</th>
                <th>Tổng tiền đơn</th>
                <th>Trạng thái đơn</th>
                <th>Trạng thái thanh toán</th>
                <th>Thao tác đơn hàng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Entry in Model)
            {
                <tr>
                    <td>@Entry.OrderNumber</td>
                    <td>@Entry.User?.Username</td>
                    <td>@Entry.OrderDate.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss")</td>
                    <td>@Entry.GrandTotal.GetValueOrDefault().ToString("#,##0")</td>
                    <td>
                        @switch ((OrderStatus)Entry.Status)
                        {
                            case OrderStatus.Canceled:
                                <p style="color: maroon">Đã bị hủy</p>
                                break;
                            case OrderStatus.Refunding:
                            case OrderStatus.RefundingAgain:
                                <p style="color: #ff5555">Yêu cầu hoàn trả</p>
                                break;
                            case OrderStatus.RefundProcessed:
                                <p style="color: darkorchid">Đã chấp nhận hoàn trả</p>
                                break;
                            case OrderStatus.RefundDelivered:
                                <p style="color: coral">Đang tiến hành hoàn trả</p>
                                break;
                            case OrderStatus.Refunded:
                                <p style="color: red">Đã hoàn trả</p>
                                break;
                            case OrderStatus.Created:
                            <p style="color: darkgoldenrod">Chờ xác nhận</p>
                                break;
                            case OrderStatus.Processed:
                            <p style="color: blue">Đã xác nhận đơn</p>
                                break;
                            case OrderStatus.Delivered:
                            <p style="color: teal">Đã giao đơn cho đơn vị vận chuyển</p>
                                break;
                            case OrderStatus.Arrived:
                            <p style="color: darkgreen">Đang được giao đến khách</p>
                                break;
                            case OrderStatus.Received:
                            case OrderStatus.ReceivedAgain:
                            <p style="color: green">Khách đã nhận hàng</p>
                                break;
                            case OrderStatus.ReceivedCompleted:
                            <p style="color: green">Khách đã nhận hàng xong</p>
                                break;
                            default:
                            <p style="color: black">N/A</p>
                                break;
                        }
                    </td>
                    <td>
                        @if (Entry.HasPaid)
                        {
                            <text>Đã thanh toán</text>
                        }
                        else
                        {
                            <text>Chưa thanh toán</text>
                        }
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <div class="dropdown-menu rounded-3 border-1 text-center m-2">
                                <a asp-action="Details" asp-route-ID="@Entry.OrderID" class="btn btn-secondary">Chi tiết đơn</a>
                                <hr />
                        @switch (Entry.Status)
                        {

                            case (byte)OrderStatus.Created:
                            default:
                                {
                                        <a class="btn btn-warning" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Processed))">
                                        Xác nhận đơn</a><br />

                                        <a class="btn btn-danger mt-1" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Canceled))">
                                        Hủy đơn</a>
                                break;
                                }
                            case (byte)OrderStatus.Processed:
                                {
                                        <a class="btn btn-warning" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Delivered))">
                                        Giao đơn</a><br />

                                        <a class="btn btn-danger mt-1" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Created))">
                                        Để chờ</a>
                                break;
                                }
                            case (byte)OrderStatus.Delivered:
                                {
                                        <a class="btn btn-warning" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Arrived))">
                                        Xác nhận đã đến nơi</a><br />

                                        <a class="btn btn-danger mt-1" 
                                        asp-action="UpdateOrderStatus" 
                                        asp-route-ID="@Entry.OrderID" 
                                        asp-route-StatusCode="@((int)(OrderStatus.Processed))">
                                        Hủy giao tạm thời</a>
                                break;
                                }
                            case (byte)OrderStatus.Arrived:
                                {
                                        <h5>Đơn hàng đã đến địa chỉ giao hàng.</h5>
                                        <p>Hiện đang chờ khách hàng xác nhận hàng...</p>
                                break;
                                }
                            case (byte)OrderStatus.Refunding:
                                {
                                        <a class="btn btn-warning"
                                            asp-action="UpdateOrderStatus"
                                            asp-route-ID="@Entry.OrderID"
                                            asp-route-StatusCode="@((int)(OrderStatus.Refunded))">
                                            Đồng ý
                                        </a><br />

                                        <a class="btn btn-danger mt-1"
                                            asp-action="UpdateOrderStatus"
                                            asp-route-ID="@Entry.OrderID"
                                            asp-route-StatusCode="@((int)(OrderStatus.ReceivedAgain))">
                                            Hủy
                                        </a>
                                break;
                                }
                            case (byte)OrderStatus.RefundingAgain:
                            {
                                    <a class="btn btn-warning"
                                        asp-action="UpdateOrderStatus"
                                        asp-route-ID="@Entry.OrderID"
                                        asp-route-StatusCode="@((int)(OrderStatus.Refunded))">
                                        Đồng ý
                                    </a><br />

                                    <a class="btn btn-danger mt-1"
                                        asp-action="UpdateOrderStatus"
                                        asp-route-ID="@Entry.OrderID"
                                        asp-route-StatusCode="@((int)(OrderStatus.ReceivedAgain))">
                                        Hủy
                                    </a>

                                    <hr />

                                    <a class="btn btn-danger mt-1"
                                        asp-action="UpdateOrderStatus"
                                        asp-route-ID="@Entry.OrderID"
                                        asp-route-StatusCode="@((int)(OrderStatus.ReceivedCompleted))">
                                        Không chấp nhận đổi trả nữa
                                    </a>
                                break;
                            }
                            case (byte)OrderStatus.ReceivedCompleted:
                                {
                                        <h5>Đơn hàng đã bị hủy trả hàng.</h5>
                                        <p>Để khôi phục lại đơn hàng về trạng thái ban đầu, nhấn nút này.</p><hr />
                                            <a class="btn btn-warning"
                                               asp-action="UpdateOrderStatus"
                                               asp-route-ID="@Entry.OrderID"
                                               asp-route-StatusCode="@((int)(OrderStatus.Refunded))">
                                                Đồng ý
                                            </a>
                                    break;
                                }
                            case (byte)OrderStatus.Canceled:
                                {
                                        <h5>Đơn hàng đã bị hủy.</h5>
                                        <p>Đơn hàng đã bị hủy và không còn khả dụng nữa.</p>
                                    break;
                                }
                            case (byte)OrderStatus.Refunded:
                                {
                                        <h5>Đơn hàng đã hoàn trả.</h5>
                                        <p>Đơn hàng đã được hoàn trả và không còn khả dụng nữa.</p>
                                    break;
                                }
                            case (byte)OrderStatus.Received:
                            case (byte)OrderStatus.ReceivedAgain:
                                {
                                        <h5>Đơn hàng đã hoàn thành.</h5>
                                        <p>Đơn hàng đã hoàn thành và không còn khả dụng nữa.</p>
                                    break;
                                }
                            }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h1 class="text-center">Chưa có đơn hàng.</h1>
}