@model List<Application.Data.Models.ShoppingCart>
@{
    var VoucherInfo = ViewBag.VoucherInfo as Application.Data.Models.Voucher;
    var TotalPrice = Model.Sum(x => x.Price).GetValueOrDefault();
    bool? UseDiscountPrice = VoucherInfo?.UseDiscountPrice;
    long DiscountedPrice = 0;
    if (UseDiscountPrice == true)
    {
        DiscountedPrice = (VoucherInfo?.DiscountPrice).GetValueOrDefault();
    }
    else if (UseDiscountPrice == false)
    {
        DiscountedPrice = (long)(TotalPrice * (VoucherInfo?.DiscountPercent / 100)).GetValueOrDefault();
    }

    var SuccessMessage = ViewBag.Success as string;
    var FailureMessage = ViewBag.Failure as string;

}

<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Product/Index">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>

<div>
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <form class="col-lg-8" asp-controller="UserCart" asp-action="UpdateWholeCart" method="post">
                    <div class="row">
                        <div class="col-7 text-right">
                            
                        </div>
                        <div class="col-5 text-right">
                            <span id="WARNING_WARNING_ALARM" class="mr-1"></span>
                            <button type="submit" class="btn btn-primary mb-1">Cập nhật giỏ hàng</button>
                        </div>
                    </div>
                    <div class="cart-page-inner">
                        <div class="table-responsive">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-bordered align-middle">
                                    <thead class="thead-dark text-center">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Màu</th>
                                            <th>Kích cỡ</th>
                                            <th>Giá tiền</th>
                                            <th>Số lượng</th>
                                            <th>Tổng cộng</th>
                                            <th>Gỡ sản phẩm</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @for (int Idx = 0; Idx < Model.Count(); Idx++)
                                        {
                                            <tr>
                                                <input hidden asp-for="@Model[Idx].UserID" value="@Model[Idx].UserID" />
                                                <input hidden asp-for="@Model[Idx].ProductDetailID" value="@Model[Idx].ProductDetailID" />
                                                <td class="align-middle">
                                                    <a href="#"><img class="img-fluid img-thumbnail" style="width: 150px; height: 150px" src="@($"https://localhost:7187/Images/{Model[Idx]?.ProductDetail?.Product?.Image?.ImageFileName}")" alt="Image"></a>
                                                    <p>@Model[Idx]?.ProductDetail?.Product?.Name</p>
                                                </td>
                                                <td class="align-middle">
                                                    @Model[Idx]?.ProductDetail?.Color?.ColorName
                                                </td>
                                                <td class="align-middle">
                                                    @Model[Idx]?.ProductDetail?.Size?.Name
                                                </td>
                                                <td class="align-middle" id="PriceSingle_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")">@Model[Idx]?.ProductDetail?.Product?.Price.GetValueOrDefault().ToString("#,##0")</td>
                                                <td class="align-middle">
                                                    <div class="quantity">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend pr-2">
                                                                <button class="btn btn-primary btn-minus" onclick="Remove1('@Model[Idx]?.ProductDetailID.ToString()')" type="button"><i class="fa fa-minus"></i></button>
                                                            </div>
                                                            <input class="form-control text-center"
                                                                placeholder="1"
                                                                onkeyup="Edit1('@Model[Idx]?.ProductDetailID.ToString()')"
                                                                id="ProductAmount_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")"
                                                                type="number" asp-for="@(Model[Idx]!.QuantityCart)"
                                                                value="@Model[Idx]?.QuantityCart"
                                                                min="1"
                                                                max="@(Model[Idx]?.ProductDetail?.Quantity)"
                                                                step="1">
                                                            <div class="input-group-prepend pl-2">
                                                                <button class="btn btn-primary btn-plus" onclick="Add1('@Model[Idx]?.ProductDetailID.ToString()')" type="button"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="PriceTotalItems align-middle" id="PriceTotal_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")">
                                                    @* @if (Model[Idx]?.ProductDetail?.Sale?.StartingAt.GetValueOrDefault() >= DateTime.UtcNow && Model[Idx]?.ProductDetail?.Sale?.EndingAt.GetValueOrDefault() <= DateTime.UtcNow)
                                                    {
                                                        <input hidden id="SaleDiscount_@(Model[Idx]?.ProductDetail?.Sale?.SaleID)"/>
                                                    }
                                                        <input hidden id="VoucherDiscount_@(Model[Idx]?.VoucherID)"/>
                                                    @if ((Model[Idx]?.ProductDetail?.Sale?.StartingAt.GetValueOrDefault() >= DateTime.UtcNow && Model[Idx]?.ProductDetail?.Sale?.EndingAt.GetValueOrDefault() <= DateTime.UtcNow) || Model[Idx]?.VoucherID != null)
                                                    {
                                                        <del>@Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")</del><br />
                                                        @(((Model[Idx]?.Price ?? 0) - (Model[Idx]?.ProductDetail?.Sale?.DiscountPrice ?? 0) - (Model[Idx]?.Voucher?.DiscountPrice ?? 0)).ToString("#,##0"))
                                                    }
                                                    else
                                                    {
                                                        @Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")
                                                    } *@
                                                    @Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")
                                                </td>
                                                <td class="align-middle"><button class="btn btn-danger delete_trigger" type="button" onclick="GetCartItemDataToDie('@(Model[Idx]?.ProductDetailID.ToString())')" data-toggle="modal" data-target="#ModalDelete"><i class="fa fa-trash"></i> Bỏ</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h1 class="text-center">Giỏ hàng trống :(</h1>
                            }
                        </div>
                    </div>
                </form>
                <div class="col-lg-4">
                    <div class="cart-page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h2>Tổng kết</h2>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                @if (ViewData["VOUCHER_ERROR"] != null)
                                                {
                                                    <p class="text-danger"><i class="fa fa-x"></i> @ViewData["VOUCHER_ERROR"]</p>
                                                }
                                                @if (!string.IsNullOrWhiteSpace(SuccessMessage))
                                                {
                                                    <p class="text-success"><i class="fa fa-check"></i> @SuccessMessage</p>
                                                }
                                            </div>
                                        </div>
                                        @if (Model.Count() > 0)
                                        {
                                            <form asp-controller="UserCart" asp-action="ApplyVoucher" method="post">
                                                <input hidden name="ID" value="@Model.First().UserID" />
                                                <div class="input-group-prepend">
                                                    <input class="form-control mr-2" value="@(VoucherInfo?.VoucherCode)" type="text" name="VoucherCode" placeholder="Mã Voucher" style="text-transform: UPPERCASE">
                                                    <button class="btn btn-primary" type="submit">Dùng</button>
                                                    @if (VoucherInfo != null)
                                                    {
                                                        <a class="btn btn-danger ml-2" asp-action="ApplyVoucher" asp-route-ID="@Model.First().UserID" asp-route-VoucherCode="">Bỏ</a>
                                                    }
                                                </div>
                                            </form>
                                        }
                                        <hr />
                                        <div class="row">
                                            <b class="col-md-5">Chi phí hàng hóa</b>
                                            <p class="col-md-7 text-right" id="PriceTotalSidebar">@(TotalPrice.ToString("#,##0"))</p>
                                            @if (UseDiscountPrice == true)
                                            {
                                                <b class="col-md-5">Giảm giá</b>
                                                <p class="col-md-7 text-right" id="DiscountTotalSidebar">
                                                    -@(VoucherInfo?.DiscountPrice.GetValueOrDefault().ToString("#,##0"))
                                                </p>
                                            }
                                            else if (UseDiscountPrice == false)
                                            {
                                                <b class="col-md-5">Giảm giá (%)</b>
                                                <p class="col-md-7 text-right" id="DiscountPercentSidebar">
                                                    -@(VoucherInfo?.DiscountPercent.GetValueOrDefault().ToString("###.##"))%
                                                </p>
                                            }
                                            <b class="col-md-5">Chi phí giao hàng</b>
                                            <p class="col-md-7 text-right" id="ShipFeeTotalSidebar">@* @(Model.Count() > 1 ? ((Model.Count() - 1) * 1000).ToString("#,##0") : "Miễn phí") *@ Miễn phí</p>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <h4 class="col-md-5">Tổng giá</h4>
                                            <p class="col-md-7 text-right" id="GrandTotalSidebar">
                                                @((TotalPrice - DiscountedPrice) @* + (Model.Count() > 1 ? ((Model.Count() - 1) * 1000) : 0)) *@.ToString("#,##0"))
                                            </p>
                                        </div>
                                    </div>
                                    @if (Model.Count() > 0)
                                    {
                                        <div class="cart-btn">
                                            <a asp-controller="Checkout" class="btn btn-success">Thanh toán</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteLabel">Xác nhận</h1>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn để loại bỏ sản phẩm khỏi giỏ hàng?<br />
                <span style="font-size:small" class="font-monospace-cascadia">Hành động này sẽ không được khôi phục lại.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-btn">Không</button>
                <button type="button" class="btn btn-danger" id="confirm_deletion">Loại bỏ</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/shopping_cart_logic.js"></script>
<script src="~/js/modal_2.js"></script>