@model List<Application.Data.Models.ShoppingCart>

<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/Product/Index">Sản phẩm</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
        </ul>
    </div>
</div>

<form asp-controller="UserCart" asp-action="UpdateWholeCart" method="post">
    <div class="cart-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-page-inner">
                        <div class="table-responsive">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-bordered align-middle">
                                    <thead class="thead-dark text-center">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Kích cỡ</th>
                                            <th>Giá tiền</th>
                                            <th>Số lượng</th>
                                            <th>Tổng cộng</th>
                                            <th>Gỡ sản phẩm</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @for (int Idx = 0; Idx < Model.Count(); Idx++)
                                        {
                                            <tr>
                                                <input hidden asp-for="@Model[Idx].UserID" value="@Model[Idx].UserID" />
                                                <input hidden asp-for="@Model[Idx].ProductDetailID" value="@Model[Idx].ProductDetailID" />
                                                <td class="align-middle">
                                                    <a href="#"><img class="img-fluid img-thumbnail" style="width: 150px; height: 150px" src="@($"https://localhost:7187/Images/{Model[Idx]?.ProductDetail?.Product?.Image?.ImageFileName}")" alt="Image"></a>
                                                    <p>@Model[Idx]?.ProductDetail?.Product?.Name</p>
                                                </td>
                                                <td class="align-middle">
                                                    @Model[Idx]?.ProductDetail?.Size?.Name
                                                </td>
                                                <td class="align-middle" id="PriceSingle_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")">@Model[Idx]?.ProductDetail?.Product?.Price.GetValueOrDefault().ToString("#,##0")</td>
                                                <td class="align-middle">
                                                    <div class="quantity">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend pr-2">
                                                                <button class="btn btn-primary btn-minus" onclick="Remove1('@Model[Idx]?.ProductDetailID.ToString()')" type="button"><i class="fa fa-minus"></i></button>
                                                            </div>
                                                            <input class="form-control text-center"
                                                                placeholder="1"
                                                                onkeyup="Edit1('@Model[Idx]?.ProductDetailID.ToString()')"
                                                                id="ProductAmount_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")"
                                                                type="number" asp-for="@(Model[Idx]!.QuantityCart)"
                                                                value="@Model[Idx]?.QuantityCart"
                                                                min="1"
                                                                max="@(Model[Idx]?.ProductDetail?.Quantity)"
                                                                step="1">
                                                            <div class="input-group-prepend pl-2">
                                                                <button class="btn btn-primary btn-plus" onclick="Add1('@Model[Idx]?.ProductDetailID.ToString()')" type="button"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="PriceTotalItems align-middle" id="PriceTotal_@(Model[Idx]?.ProductDetailID.ToString() ?? "null")">
                                                    @* @if (Model[Idx]?.ProductDetail?.Sale?.StartingAt.GetValueOrDefault() >= DateTime.UtcNow && Model[Idx]?.ProductDetail?.Sale?.EndingAt.GetValueOrDefault() <= DateTime.UtcNow)
                                                    {
                                                        <input hidden id="SaleDiscount_@(Model[Idx]?.ProductDetail?.Sale?.SaleID)"/>
                                                    }
                                                        <input hidden id="VoucherDiscount_@(Model[Idx]?.VoucherID)"/>
                                                    @if ((Model[Idx]?.ProductDetail?.Sale?.StartingAt.GetValueOrDefault() >= DateTime.UtcNow && Model[Idx]?.ProductDetail?.Sale?.EndingAt.GetValueOrDefault() <= DateTime.UtcNow) || Model[Idx]?.VoucherID != null)
                                                    {
                                                        <del>@Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")</del><br />
                                                        @(((Model[Idx]?.Price ?? 0) - (Model[Idx]?.ProductDetail?.Sale?.DiscountPrice ?? 0) - (Model[Idx]?.Voucher?.DiscountPrice ?? 0)).ToString("#,##0"))
                                                    }
                                                    else
                                                    {
                                                        @Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")
                                                    } *@
                                                    @Model[Idx]?.Price.GetValueOrDefault().ToString("#,##0")
                                                </td>
                                                <td class="align-middle"><button class="btn btn-danger delete_trigger" type="button" onclick="GetCartItemDataToDie('@(Model[Idx]?.ProductDetailID.ToString())')" data-toggle="modal" data-target="#ModalDelete"><i class="fa fa-trash"></i> Bỏ</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h1 class="text-center">Giỏ hàng trống :(</h1>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart-page-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cart-summary">
                                    <div class="cart-content">
                                        <h2>Tổng kết</h2>
                                        @* <div class="input-group-prepend">
                                            <input class="form-control mr-3" type="text" name="VoucherCode" onkeyup="Notify()" placeholder="Mã Voucher" style="text-transform: UPPERCASE">
                                            <button class="btn btn-primary" type="submit">Dùng</button>
                                        </div>
                                        <hr /> *@
                                        <div class="row">
                                            <b class="col-md-5">Chi phí hàng hóa</b>
                                            <p class="col-md-7 text-right" id="PriceTotalSidebar">@((Model.Sum(x => x.Price)).GetValueOrDefault().ToString("#,##0"))</p>
                                            <b class="col-md-5">Chi phí giao hàng</b>
                                            <p class="col-md-7 text-right" id="ShipFeeTotalSidebar">@(Model.Count() > 1 ? ((Model.Count() - 1) * 1000).ToString("#,##0") : "Miễn phí")</p>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <h4 class="col-md-5">Tổng giá</h4>
                                            <p class="col-md-7 text-right" id="GrandTotalSidebar">@(((Model.Sum(x => x.Price) + (Model.Count() > 0 ? ((Model.Count() - 1) * 1000) : 0)).GetValueOrDefault().ToString("#,##0")))</p>
                                        </div>
                                    </div>
                                    <p id="WARNING_WARNING_ALARM"></p>
                                    @if (Model.Count() > 0)
                                    {
                                        <div class="cart-btn">
                                            <button type="submit" class="btn btn-primary">Cập nhật giỏ hàng</button>
                                            <a asp-controller="Checkout" class="btn btn-success">Thanh toán</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteLabel">Xác nhận</h1>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn để loại bỏ sản phẩm khỏi giỏ hàng?<br />
                <span style="font-size:small" class="font-monospace-cascadia">Hành động này sẽ không được khôi phục lại.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-btn">Không</button>
                <button type="button" class="btn btn-danger" id="confirm_deletion">Loại bỏ</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/shopping_cart_logic.js"></script>