@model IEnumerable<Application.Data.Models.Size>;

@{
    ViewData["Title"] = "Product size list";
}

<h1>Product sizes</h1>
<a type="button" class="btn btn-success mb-2" asp-action="Create">Create new</a>

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped border-info">
        <thead class="bg-primary">
            <tr>
                <th>Product size</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Entry in Model)
            {
                <tr>
                    <td>@Entry.Name</td>
                    <td>@Entry.Status</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-ID="@(@Entry.SizeID)">Edit</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-ID="@Entry.SizeID">Details</a>
                        <button type="button" class="btn btn-danger delete_trigger" data-id="@Entry.SizeID" data-controller="Size" data-action="Delete" data-toggle="modal" data-target="#ModalDelete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h1 class="text-center">Chưa có kích cỡ nào.</h1>
    <p class="text-center">Nhấn "Tạo mới" để thêm kích cỡ.</p>
}

@if (TempData["ErrorLog"]?.ToString() == "ErrorDetails")
{
    <div class="alert alert-danger" role="alert">
        Data not found!
    </div>
}
@if (TempData["ErrorLog"]?.ToString() == "ErrorDelete")
{
    <div class="alert alert-danger" role="alert">
        Something went wrong???
    </div>
}

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DeleteLabel">KHOAN!!! <span style="font-size:x-small">(Khoan?)</span></h1>
                <button type="button" class="close" data-dismiss="modal" id="close-btn" aria-label="Close">
                    <i class="fa-cross"></i>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn để xóa kích cỡ này?<br />
                <span style="font-size:small" class="font-monospace-cascadia">ID kích cỡ: <span id="ItemID" class="font-monospace-cascadia"></span></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-btn">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirm_deletion">Xóa</button>
            </div>
        </div>
    </div>
</div>