@model IEnumerable<Application.Data.DTOs.PaymentMethodDetailDTO>

@{
    ViewData["Title"] = "Index";
}
 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>          
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PaymentMethodDetails }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PaymentMethodDetails }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PaymentMethodDetails })
                </td>
            </tr>
        }
    </tbody>
</table>
