@model Application.Data.Models.User

@{
    ViewData["Title"] = "Details of cart entry";
}

<h1>Cart detail</h1>

<dl class="row">
    <dt class="col-md-3">ID</dt>
    <dd class="col-md-9">
        <i style="font-size: small" class="font-monospace-cascadia">@Model.UserID</i>
    </dd>
    <dt class="col-md-3">Username</dt>
    <dd class="col-md-9">@Model.Username
    </dd>
    <dt class="col-md-3">Password</dt>
    <dd class="col-md-9">
        @Model.Password
    </dd>
        <dt class="col-md-3">Name</dt>
    <dd class="col-md-9">
        <span class="text-decoration-underline">@Model.LastName</span>
        <span class="text-decoration-underline">@Model.FirstName</span>
        <span style="font-size: small">@Model.FirstName @Model.LastName</span>
    </dd>
        <dt class="col-md-3">Phone number</dt>
    <dd class="col-md-9">
        @Model.PhoneNumber
    </dd>
        <dt class="col-md-3">Email</dt>
    <dd class="col-md-9">@Model.Email
    </dd>
        <dt class="col-md-3">Address</dt>
    <dd class="col-md-9">@Model.Address
    </dd>
        <dt class="col-md-3">Created date</dt>
    <dd class="col-md-9">
        @Model.CreatedAt.ToString("d/M/yyyy H:mm:ss")
    </dd>
    <dt class="col-md-3">Last updated on</dt>
    <dd class="col-md-9">
        @Model.LastUpdatedOn.ToString("d/M/yyyy H:mm:ss")
    </dd>
    <dt class="col-md-3">Is active?</dt>
    <dd class="col-md-9">
        @(Model.Status ? "Yes" : "No")
    </dd>
</dl>