@using System.Text.RegularExpressions
@model Application.Data.Models.User

@{
    ViewData["Title"] = "Thông tin người dùng";
}

<h1>Thông tin người dùng</h1>

<div class="row">
    <dl class="col-md-6">
    <dt class="col-md-3">ID</dt>
    <dd class="col-md-9">
        <i class="font-monospace-cascadia">@Model.UserID</i>
    </dd>
    <dt class="col-md-3">Tên người dùng</dt>
    <dd class="col-md-9">@Model.Username
    </dd>
    <dt class="col-md-3">Mật khẩu</dt>
    <dd class="col-md-9">
        @(new String(Enumerable.Repeat((char)8226, (Model.Password.Length)).ToArray()))
        @* 8226 = "•" *@
    </dd>
        <dt class="col-md-3">Tên đầy đủ</dt>
    <dd class="col-md-9">
        <span>@Model.LastName @Model.FirstName</span>
        <span style="font-size: small">(@Model.FirstName @Model.LastName)</span>
    </dd>
        <dt class="col-md-3">SĐT</dt>
    <dd class="col-md-9">
        @Model.PhoneNumber
    </dd>
        <dt class="col-md-3">Email</dt>
    <dd class="col-md-9">@Model.Email
    </dd>
        <dt class="col-md-3">Địa chỉ</dt>
    <dd class="col-md-9">@Model.Address
    </dd>
        <dt class="col-md-3">Thời điểm tạo</dt>
    <dd class="col-md-9">
        @Model.CreatedAt.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss")
    </dd>
    <dt class="col-md-3">Cập nhật lần cuối</dt>
    <dd class="col-md-9">
        @Model.UpdatedAt.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss")
    </dd>
    <dt class="col-md-3">Trạng thái</dt>
    <dd class="col-md-9">
        @switch (Model.Status)
        {
            case 0:
                <text>Khóa</text>
                break;
            case 1:
                <text>Mở</text>
                break;
            default:
                <text>N/A</text>
                break;
        }
    </dd>
    <dt class="col-md-3">Ảnh đại diện</dt>
    <dd class="col-md-9">
        @(Model.ImageID != null ? "" : "Không có")
    </dd>
</dl>
    @if (Model.ImageID != null)
    {
        <div class="col-md-6">
            <img src="@(ViewData["URLFetchImg"])" class="img-thumbnail" alt="Image displayer">
            <div class="text-center"><i>@Model.Image?.ImageFileName</i></div>
        </div>
    }
</div>
