@model IEnumerable<Application.Data.Models.User>;
@using Application.Data.Enums;

@{
    ViewData["Title"] = "Danh sách tài khoản";
}

<h1>Danh sách tài khoản</h1>
@if (Model.Count() > 0)
{
    <p>Tổng số tài khoản: @Model.Count()</p>
}
<a class="btn btn-success mb-2" asp-action="Create">Tạo mới</a>

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped border-info">
        <thead class="bg-primary">
            <tr>
                <th>Tên người dùng</th>
                <th>Tên đầy đủ</th>
                <th>Email</th>
                <th>SĐT</th>
                <th>Vai trò</th>
                <th>Thời điểm tạo</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Entry in Model)
            {
                <tr>
                    <td>@Entry.Username</td>
                    <td>@Entry.LastName @Entry.FirstName</td>
                    <td>@Entry.Email</td>
                    <td>••••••••@Entry.PhoneNumber?.Substring(8)</td>
                    <td>@Entry.Role?.RoleName</td>
                    <td>@(Entry.CreatedAt.GetValueOrDefault().ToLocalTime().ToString("d/M/yyyy H:mm:ss"))</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-ID="@(@Entry.UserID)">Sửa</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-ID="@Entry.UserID">Chi tiết</a>
                        <a class="btn @(Entry.Status == 1 ? "btn-danger" : "btn-info")" asp-action="Toggle" asp-route-ID="@(@Entry.UserID)">@(Entry.Status == 1 ? "Khóa" : "Mở")</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h1 class="text-center">Chưa có người dùng.</h1>
    <p class="text-center">Tạo mới người dùng bằng cách nhấn "<b>Tạo mới</b>"!</p>
}