@model Application.Data.DTOs.InventoryLogDto

@{
    ViewData["Title"] = "Details";
}
 
<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LogID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LogID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogID }) |
    <a asp-action="Index">Back to List</a>
</div>

