@model Application.Data.Models.ShippingMethod

@{
    ViewData["Title"] = "Details - Shipping Method";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Shipping Method Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Shipping Method Information</h4>
            <hr />
            <dl class="row">
                <!-- ShippingMethodID -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShippingMethodID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ShippingMethodID)
                </dd>

                <!-- MethodName -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.MethodName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MethodName)
                </dd>

                <!-- ShippingFee -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShippingFee)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ShippingFee)
                </dd>

                <!-- EstimatedDeliveryTime -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EstimatedDeliveryTime)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EstimatedDeliveryTime)
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Update" class="btn btn-warning btn-lg">Update</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Back to List</a>
    </div>
</div>
